.stadium {
  border:1px solid black;
  width: 100%;
  height: 30em;
  margin-bottom: 3rem;
}

.info1 {
  border:1px solid black;
  margin-top: 3em;
  width: 100%;
  height: 85%;
}

.info {
  border:1px solid black;
  margin-top: 3em;
  width: 100%;
  height: 70%;
}

.stadiumInfo {
  border:1px solid black;
  width: 100%;
  height: 15em
}


.totalPlayer {
  border:1px solid black;
  width: 100%;
  height: 26em;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.playerList {
  border:1px solid black;
  margin-left: 3rem;
  margin-bottom: 2rem;
  width: 45%;
  height: 6rem;
  float: left;
} 

.player {
  border:1px solid black;
  margin-top: 0.5rem;
  width: 40%;
  height: 2rem;
}

.infoBox {
  border:1px solid black;
  margin-top: 0.5rem;
  width: 100%;
  height: 3rem;
}

.pInfo {
  border:1px solid black;
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: 20%;
  height: 2rem;
  float: left;
}