footer {
  background-color: #2a2a2a;
  color: white;
}
footer > div#company {
  display: flex;
}
#companyinfo {
  font-size:13px;
  color: #dbdbdb;
}

.company-left {
  flex: 1 1 auto;
  padding: 30px;
}
.company-left > div > a {
  padding: 5px;
  font-size: 15px;
  color:white;
}
.company-right{
  flex: 1 1 auto;
}

footer > div#menu {
  display: flex;
}

footer > div#menu .menu-left {
  flex : 1 1 auto;
  display: flex;
}
footer > div#menu .menu-left > div{
  padding: 25px;
  flex : 1 1 auto;
}
footer > div#menu .menu-right {
  flex: 1 1 auto;
}
footer > div#menu > .menu-right > img {
  float : right;
  width: 50px;
  padding: 10px;
}
