html,
body {
  padding: 0;
  margin-left: 10em;
  margin-right: 10em;
  width: 80%;
  height: 80%;
  margin-top: 5em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.stadium {
  border:1px solid black;
  width: 100%;
  height: 20em;
}

.info {
  border:1px solid black;
  margin-top: 3em;
  width: 100%;
  height: 15.4em;
}

.stadiumInfo {
  border:1px solid black;
  width: 100%;
  height: 20em;
}


.totalPlayer {
  border:1px solid black;
  width: 100%;
  height: 20em;
}