#recordboard {
  line-height: 25px;
  transform: translateY(15%);
}
.top{
  margin-top: 0.5em;
  margin-left: 1em;
  width: 8em;
  height: 4em;
  line-height: 4em;
  text-align: center;
}

.hero{
  margin-top: 0.5em;
  margin-left: 1em;
  width: 8em;
  height: 4em;
  line-height: 4em;
  text-align: center;
}

.total-rank {
  margin-top: 5em;
  padding-top: 2rem;
  height: 100%;
}



.table {
  display: table;
  width: calc(100% - 2rem);
  margin-top: 3rem;
  margin-left: 1rem;
  border: 1px solid gray;
}

.row, .row-header {
  display: table-row;
}

.col {
  display: table-cell;
  padding: 0.5rem 1rem;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.row-header .col {
  background-color: #eee;
}

.merge-col {
  position: absolute;
  width: calc(100% - 2rem);
  margin-left: -1px;
  padding: 0.5rem 1rem;
}

.total-rank div {
  border: none;
}