#userinfo-form {
    width: 700px;
    margin: 0 auto;
    transform: translateY(10%);
}
.userinfo-content {
    /* margin: 100px 0; */
}
.userinfo-contents {
    margin: 100px 0;
}

.userinfo-category {
    font-size: 20px;
    padding: 3px 0;
    width: 200px;
    text-align: center;
    background-color: #2a2a2a;
    color: white;
    border-radius: 20px;
    margin: 10px 0;
    margin-top: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
}

.userinfo-table {
    display: table;
    width: calc(100% - 2rem);
    margin-top: 3rem;
    margin-left: 1rem;
    border: 1px solid #eee;
}

.row,
.row-header {
    display: table-row;
}

.row-header .col {
    background-color: #eee;
    display: table-cell;
    padding: 0.5rem 1rem;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.row-header .column {
    background-color: white;
    display: table-cell;
    padding: 0.5rem 1rem;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.editBtn {
    margin-top: 50px;
    width: 100%;
}
.editBtn button {
    height: 45px;
    border: solid 1px gainsboro;
    text-align: center;
    padding: 10px;
    margin: 15px;
    background-color: #2a2a2a;
    color: white;
    cursor: pointer;
    float: right;
}
.deleteBtn {
    margin-top: 50px;
    width: 100%;
}
.deleteBtn button {
    height: 45px;
    border: solid 1px gainsboro;
    text-align: center;
    padding: 10px;
    margin: 15px;
    background-color: #2a2a2a;
    color: white;
    cursor: pointer;
    float: right;
}
