* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

#UserinfoFormList {
    margin: 0 auto;
    width: 500px;
}
.text {
    text-align: left;
    border-radius: 15px 15px 15px 0;
    border: 3px solid gainsboro;
    padding: 0.5em 0.6em;
    color: black;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.userinfo {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    table-layout: auto;
    width: 100%;
    table-layout: fixed;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
/* .userinfo th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
} */
table.userinfo {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
}
table.userinfo th {
    width: 155px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: black;
}
table.userinfo td {
    width: 155px;
    padding: 10px;
    vertical-align: top;
    background: linear-gradient(to left, #eee, white);
}
