* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px
}

.totalRanking {
  border:1px solid black;
  width: 100%;
  height: 20em;
  padding-top: 2rem;
}

.totalTopBox {
  margin-top: 2.3em;
  border:1px solid black;
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBox {
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 7em;
  width: 10em;
  height: 10em;
  border:1px solid black;
  float: left;
}

.top{
  margin-top: 0.5em;
  margin-left: 1em;
  width: 8em;
  height: 4em;
  border:1px solid black;
  line-height: 4em;
  text-align: center;
}

.hero{
  margin-top: 0.5em;
  margin-left: 1em;
  width: 8em;
  height: 4em;
  border:1px solid black;
  line-height: 4em;
  text-align: center;
}

.totalPlayer {
  margin-top: 5em;
  border:1px solid black;
  padding-top: 2rem;
}

* {
  box-sizing: border-box;
}

.table {
  display: table;
  width: calc(100% - 2rem);
  margin-top: 3rem;
  margin-left: 1rem;
  border: 1px solid gray;
}

.row, .row-header {
  display: table-row;
}

.col {
  display: table-cell;
  padding: 0.5rem 1rem;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.row-header .col {
  background-color: #eee;
}

.merge-col {
  position: absolute;
  width: calc(100% - 2rem);
  border: 1px solid gray;
  margin-left: -1px;
  padding: 0.5rem 1rem;
}