* {
    box-sizing: border-box;
}

.row, .row-header {
  display: table-row;
}

.col {
  display: table-cell;
  padding: 0.5rem 1rem;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.row-header .col {
  background-color: #eee;
}

#matchlist{
    margin: 0 auto;
    width: 500px;
}